body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    max-width: 800px;
    margin: 3px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Add position relative for absolute positioning */
    overflow: hidden; /* Hide overflowing content */
}
.container1 {
    text-align: center; /* Align content in the center horizontally */
}
.container1 {
    max-width: 800px;
    margin: 3px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Add position relative for absolute positioning */
    overflow: hidden; /* Hide overflowing content */
}
.location {
    float: right;
    color: #888; /* Optional: Adjust color to your preference */
}

/* Adjustments for horizontal lines */
.horizontal-line {
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

/* Centering sections */
.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.section h2 {
    margin-bottom: 10px;
}

/* Adjustments for educational items */
.education-item p {
    margin: 5px 0;
}

/* Adjustments for extra-curricular items */
.extra-curricular-item p {
    margin: 5px 0;
}
